html {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0px;
  padding-bottom: 300px;
}
.barraNavegacion {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.barraNavegacion li {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 200px;
  margin-left: 1rem;
}
.boton {
  justify-content: space-between;
  color: white;
  text-decoration: none;
}

li {
  display: inline;
  color: white;
}
.imagenFondo {
  background-image: url(../images/background-image.jpg);
  background-position: center center;
  width: 100%;
  height: 40vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}
.imagenFondo p{
  color: white;
  font-size: 16vw;
  margin: auto;
}
.tabla {
  display: flex;
  justify-content: center;
  text-align: center;
  border-collapse: collapse;
}
.titulo {
  text-align: center;
  color: blue;
  font-size: 2rem;
}
.fecha {
  font-size: 2rem;
  padding: 20px;
  color: red;
  text-shadow: 0 0 2px black;
  max-width: 100px;
}
.curso {
  margin-right: 2rem;
}
tr {
  border: solid;
  border-width: 1px 0;
}
tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}
td {
  width: fit-content;
  min-width: 100px;
}
.curso {
  font-weight: bold;
}
.telefono {
  font-weight: bold;
}
.mail {
  font-weight: bold;
}
.contacto {
  text-align: center;
}
.contacto h1 {
  color: blue;
  font-size: 2rem;
}
.tabla a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  border: 1px solid black;
  padding: 5px;
  background: whitesmoke;
}
.tabla a:hover {
  background: grey;
}
@media (min-width: 1300px) {
  .botonesNav {
    justify-content: space-between;
    color: white;
    text-decoration: none;
  }
  .burger {
    display: none;
  }
}
@media (max-width: 1299px) {
  .botonesNav {
    display: none;
  }
  .burger {
    display: flex;
    height: 74px;
  }
}

.Lluis img {
  height: 300px;
  border-radius: 50%;
}
.Fer img {
  height: 300px;
  border-radius: 50%;
}
.Alberto img {
  height: 300px;
  border-radius: 50%;
}
@media (min-width: 910px) {
  .mentores {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    font-size:calc(10px + 1.5vw)
  }
}
@media (max-width: 909px) {
  .mentores {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-position-x: 30px;
    font-size:calc(10px + 1.5vw)
  
  }
}
.Lluis {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Fer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Alberto {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sobreNosotros {
  font-size: 2vw;
  text-align: center;
  margin-left: 2vw;
  margin-right: 2vw;
}
.nombre {
  font-weight: bold;
}
.formulario {
  display: flex;
  justify-content: center;
  text-align: left;
}
.datos {
  width: 300px;
}
.genero {
  text-align: left;
}
.enviar {
  text-align: center;
  padding: 5px;
  display: grid;
  justify-content: center;
  margin-top: 30px;
}
.flecha {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.flecha img {
  width: 50px;
}
